*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
}

section{
    margin-top: 35px;
}

section > div{
    margin: auto;
    width: 350px;
}

section:nth-child(odd){
    margin: auto;
    background-color: rgb(25, 23, 23);
    color: white;
}

footer{
    background-color: black;
    padding: 25px;
}

footer > p {
    color: white;
}

.contHeader{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.contHeader > nav {
    text-align: center;
}

.contHeader > nav > div > a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 20px;
    display: block;
}

.contHeader > nav > div > a:hover{
    color: white;
}

.contHeader > nav > div:hover{
    background-color: rgb(25, 23, 23);
}

.apresentacao{
    margin: auto;
    padding-top: 10px;
}

.contMain{
    text-align: center;
}

.contMain > h1, p{
    color: white;
    text-align: center;
    margin: 20px;
}

.contMain > img{
    margin-top: 20px;
}

.butao{
    margin: 20px;
    border: 0px;
    background-color: rgb(42, 42, 255);
    color: white;
    width: 150px;
    height: 40px; 
}

.butao:hover{
    background-color: rgb(24, 24, 251);
}

.contIcon{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contIcon > div > h2{
    color: red;
}

.contIcon > div > p{
    color: black;
    text-align: justify;
    font-size: 15px;
    margin-bottom: 25px;
    line-height: 1.5em;
}

.contApp{
    display: flex;
    flex-direction: column;
    padding: 35px;
}

.contApp > h2{
    text-align: center;
}

.contApp > p{
    text-align: justify;
}

.contImg{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contImg > div > p{
    color: black;
    text-align: justify;
}

.contImg > div > figure figcaption{
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0px;
}

@media screen and (min-width:768px) {
    .contHeader{
        flex-direction: row;
        justify-content: right;
    }

    .contHeader > nav{
        display: flex;
    }

    .apresentacao{
        width: 100%;
        padding-top: 30px;
    }

    .contMain{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .butao{
        width: 200px;
        height: 60px;
    }

    .contIcon{
        flex-direction: row;
    }

    section > div{
        width: 1200px;
    }

    .contImg{
        flex-direction: row;
        text-align: center;
    }

    .contImg > div{
        padding: 20px;
    } 

    .contImg > div > figure figcaption{
        font-size: 30px;
    }
}
