@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&family=MedievalSharp&display=swap');

.bemVindo {
    text-align: center;
    padding: 20px;
}

.bemVindo h1 {
    font-size: 2em;
    color: #FFD700; 
}

.recursos{
    align-items: center;
}

.recursos > div > img{
    width: 300px;
    height: auto;
    border-radius: 10px;
}

@media screen and (min-width: 767px) {
    .bemVindo h1 {
        font-size: 2.5em;
    }

    .recursos > div > img {
        width: 400px;
    }
}