@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
/*  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #11111f;
}

.cabecalho {
    font-family: "Covered By Your Grace", cursive;
    text-decoration: none;
    letter-spacing: -4px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.cabecalho a {
    font-size: 50px;
    text-decoration: none;
    padding: 20px 40px;
    display: inline-block;
    text-align: left;      
}

.cabecalho img{
    width: 80px;
    margin: -20px;
}

header h1 .M,
header h1 .N,
header h1 .Z {
    transition: all 0.3s ease; 
}

header h1:hover .M {
    color: #b979f5;
}

header h1:hover .N {
    color: #ffffff;
}

header h1:hover .Z {
    color: #05A8AA;
}

nav{
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #0d0d0d;
}

nav ul {
    list-style: none;
    font-size: 25px;
    width: 100%;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: block;
}

nav li{
    position: relative;
    border-bottom: 1px solid rgba(39, 38, 38, 0.76);
    padding: 15px;
}

.sub{
    display: none;
    position: absolute;
    top: 10px;
    left: 0;
    background-color: #444;
    flex-direction: column;
}

.temSub:hover .sub{
    display: block;
    position: relative;
}

.msub input{
    display: none;
}

.msub input:checked + .sub{
    display: block;
}

nav label{
    color: white;
}

.sub li{
    position: relative;
}

.menuRPG:hover {
    box-shadow: 0 0 10px #b979f580;
    outline: 2px solid #b979f5;
}

.menuMestre:hover {
    outline: 2px solid #c9a139;
    box-shadow: 0 0 15px #c9a13988;
}

.menuSistemas:hover {
    box-shadow: 0 0 10px #5c7aff80;
    outline: 2px solid #5c7aff;
}

.diceEsq {
    position: absolute;
    width: 50px;
    top: 17%;
    left: -20px;
    opacity: 0;
    transition: all 0.3s ease;
}

.sub li:hover .diceEsq {
    transform: translateX(30px);
    opacity: 1;
}

.diceDir {
    position: absolute;
    width: 50px;
    top: 17%;
    right: -20px;
    opacity: 0;
    transition: all 0.3s ease;
}

.sub li:hover .diceDir {
    transform: translateX(-30px);
    opacity: 1;
}


.pergEsq {
    position: absolute;
    top: 20%;
    left: -25px;
    width: 45px;
    opacity: 0;
    transition: all 0.3s ease;
}

.sub li:hover .pergEsq {
    transform: translateX(30px);
    opacity: 1;
}

.pergDir {
    position: absolute;
    top: 20%;
    right: -25px;
    width: 45px;
    opacity: 0;
    transition: all 0.3s ease;
}

.sub li:hover .pergDir {
    transform: translateX(-30px);
    opacity: 1;
}

.espadaSup {
    position: absolute;
    width: 40px;
    top: -19px;
    left: 6px;
    transform: rotate(45deg);
    opacity: 0;
    transition: all 0.3s ease;
}

.sub li:hover .espadaSup {
    top: -4px;
    left: 0;
    transform: rotate(78deg);
    opacity: 1;
}

.espadaInf {
    position: absolute;
    width: 40px;
    bottom: -20px;
    right: 4px;
    transform: rotate(-135deg);
    opacity: 0;
    transition: all 0.3s ease;
}

.sub li:hover .espadaInf {
    bottom: -6px;
    right: 0;
    transform: rotate(-105deg);
    opacity: 1;
}

.holoEsq {
    position: absolute;
    width: 40px;
    top: -5px;
    left: 0;
    transform: translateX(-15px) rotate(90deg);
    opacity: 0;
    transition: all 0.3s ease;
}

.sub li:hover .holoEsq {
    top: -5px;
    left: 0;
    transform: translate(0px) rotate(90deg);
    opacity: 1;
}

.holoDir {
    position: absolute;
    width: 40px;
    top: -5px;
    right: 0;
    transform: translateX(15px) rotate(-90deg) scaleX(-1);
    opacity: 0;
    transition: all 0.3s ease;
}

.sub li:hover .holoDir {
    top: -5px;
    right: 0;
    transform: translate(0px) rotate(-90deg) scaleX(-1);
    opacity: 1;
}

.buss {
    position: absolute;
    width: 60px;
    top: 24%;
    right: 0px;
    transform: translateX(25px) rotate(360deg);
    opacity: 0;
    transition: all 0.3s ease;
}

.sub li:hover .buss {
    transform: translate(-10px) rotate(0deg);
    opacity: 1;
}

.NPC {
    position: absolute;
    width: 35px;
    top: 5%;
    right: 0px;
    transform: translateX(25px);
    opacity: 0;
    transition: all 0.3s ease;
}

.sub li:hover .NPC {
    transform: translate(-20px);
    opacity: 1;
}

.drag1 {
    position: absolute;
    width: 60px;
    top: -5px;
    left: 0px;
    transform: translate(-30px, -30px) rotate(30deg);
    opacity: 0;
    transition: all 0.3s ease;
}

.sub li:hover .drag1 {
    transform: translate(-10px, -10px) rotate(30deg);
    opacity: 1;
}

.fog1 {
    position: absolute;
    width: 60px;
    top: 3px;
    left: 0px;
    transform: translate(-20px, -20px) rotate(140deg);
    opacity: 0;
    transition: all 0.3s ease;
}

.sub li:hover .fog1 {
    transform: translate(13px, 13px) rotate(140deg);
    opacity: 1;
}

.drag2 {
    position: absolute;
    width: 50px;
    bottom: 0;
    right: 0px;
    transform: translate(25px, 25px) rotate(30deg);
    opacity: 0;
    transition: all 0.3s ease;
}

.sub li:hover .drag2 {
    transform: translate(10px, 10px) rotate(30deg);
    opacity: 1;
}

.fog2 {
    position: absolute;
    width: 50px;
    bottom: 0;
    right: 0px;
    transform: translate(5px, 5px) rotate(210deg);
    opacity: 0;
    transition: all 0.3s ease;
}

.sub li:hover .fog2 {
    transform: translate(-25px, -21px) rotate(210deg);
    opacity: 1;
}

.olhoSolo1 {
    position: absolute;
    width: 50px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.sub li:hover .olhoSolo1 {
    opacity: 1;
}

.olhoSolo2 {
    position: absolute;
    width: 50px;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.sub li:hover .olhoSolo2 {
    opacity: 1;
}

.corte {
    width: 100px;
    clip-path: inset(25px 15px 50px 15px);
}

.olhoDuplo1 {
    position: absolute;
    top: -10px;
    right: 0;
    transform: rotate(30deg);
    opacity: 0;
    transition: all 0.3s ease ;
}

.sub li:hover .olhoDuplo1 {
    transform: rotate(30deg);
    opacity: 1;
}

.olhoDuplo2 {
    position: absolute;
    top: -10px;
    transform: translate(-60px, 60px);
    right: 0;
    opacity: 0;
    transition: all 0.3s ease ;
}

.sub li:hover .olhoDuplo2 {
    transform: translate(-60px, 60px);
    opacity: 1;
}

.ordem { 
    transition: all 0.3s ease;
}

.ordem:hover {
    background-color: black;
}

.sub li .animTexto {
    transition: all 0.3s ease;
}

.sub li:hover .animTexto {
    transform: translate(-30px);
}

.luz:hover {
    background-color: #fbff00ce;
    box-shadow: 2px 2px 20px #fbff00;
}

@media screen and (min-width: 768px) {
    .cabecalho{
        align-items: start;   
    }

    nav > ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    
    nav > ul > li{
        min-width: 200px;
    }

    .sub{
        min-width: 200px; 
        z-index: 10; 
    }

    .temSub:hover .sub{
        display: block;
        position: absolute;
        top: 100%;
    }
}
