*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(29, 11, 44);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.modal.show {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    background: #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 12px;
    text-align: center;
    color: white;
    width: 300px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.buttons button {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px 20px;
    background: #4b8bf4;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
}

.buttons button:hover {
    background: #1b6bf2;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contPlacar {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;        
    width: 70%; 
    background-color: rgb(61, 61, 61);
    justify-content: space-around;
    color: white;
    border-radius: 10px;
    padding: 10px;
    z-index: 1000; 
}

#player{
    padding: 10px;
}

#tabuleiro {
    display: none;
    grid-template-columns: repeat(50, 100px);
    grid-template-rows: repeat(50, 100px);

}

.celula {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #eee;
    position: relative;
}

.celula:hover{
    background-color: rgb(165, 165, 165);
}

.peca {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.tile {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover; 
    transition: all 0.3s ease-in-out;
}

.tile:hover{
    transform: scale(1.5);
    z-index: 2;
}



/*------------- Escrito antes ------------- */

/* .carta{
    display: flex;
    justify-content: center;
    align-items: center;
}
#cardVirado{
    width: 8%;
}

.monte {
    border: 2px solid black;
} */